body {
    font-family: Arial, sans-serif;
    width: 650px;
    height: 600px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.tabs {
    display: flex;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
}

.tab {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #fff;
    text-align: center;
    flex: 1;
    transition: background-color 0.3s ease;
    margin: 0;
}

.tab:hover {
    background-color: #e0f7ff;
}

.tab.active {
    background-color: #e0f7ff;
    font-weight: bold;
    border-bottom: 3px solid #0b72b9;
}

.tab-content {
    display: none;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f1f1f1;
    overflow-y: auto;
    height: calc(100% - 82px);
    margin: 0;
}

.tab-content.active {
    display: block;
}

.overview-section, .links-section, .images-section {
    margin-bottom: 20px;
    width: calc(100% - 40px);
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.section-header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.stat-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

.stat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 10px;
    width: calc(33.333% - 10px);
    font-size: 12px;
    box-sizing: border-box;
    margin: 5px;
}

.stat-box.wide {
    width: calc(50% - 10px);
}

.image-formats-section {
    margin-top: 20px;
}

.image-formats-section .stat-box {
    width: 100%;
}

.table-container {
    overflow-x: auto;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img.thumbnail {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

#message {
    color: red;
    text-align: center;
    margin: 0;
}

footer {
    text-align: center;
    font-size: 12px;
    background-color: #1e3c72;
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}

.footer-logo {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.note-section {
    margin-top: 20px;
}

.note-section .note {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.note-section .color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.link-overview-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-overview-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    width: calc(16.666% - 10px);
    font-size: 10px;
    box-sizing: border-box;
    height: 40px;
    margin: 5px;
    border-left: 1px solid #ddd;
}

.link-overview-box:first-child {
    border-left: none;
}

.link-overview-box span {
    font-size: 12px;
    font-weight: normal;
    margin-top: 0;
    padding: 0;
    line-height: 1;
}

.link-overview-label {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 0;
}

.link-overview-total .link-overview-label {
    background-color: #d9d9d9;
    color: #000;
}

.link-overview-duplicate .link-overview-label {
    background-color: #FFFF00;
    color: #000;
}

.link-overview-new-tab .link-overview-label {
    background-color: #F4CCCC;
    color: #000;
}

.link-overview-internal .link-overview-label {
    background-color: #D9EAD3;
    color: #000;
}

.link-overview-external .link-overview-label {
    background-color: #f9cb9c;
    color: #000;
}

.link-overview-no-follow .link-overview-label {
    background-color: #ead1dc;
    color: #000;
}

.link-overview-section .stat-box {
    background-color: #dcd6f3;
}

.image-overview-section .stat-box {
    background-color: #fdebd3;
}

.tabs {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.tab-content {
    margin-top: 42px;
    background-color: #f1f1f1;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.link-overview-container span {
    margin-top: 0;
    padding-top: 0;
    font-weight: bold;
}

.image-overview-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-overview-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    width: calc(25% - 10px);
    font-size: 10px;
    box-sizing: border-box;
    height: 40px;
    margin: 5px;
    border-left: 1px solid #ddd;
    color: #000;
}

.image-overview-box:first-child {
    border-left: none;
}

.image-overview-box span {
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    padding: 0;
    line-height: 1;
}

.image-overview-label {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 0;
}

.image-overview-total .image-overview-label {
    background-color: #d9d9d9;
    color: #000;
}

.image-overview-missing-title .image-overview-label {
    background-color: #ffe599;
    color: #000;
}

.image-overview-missing-alt .image-overview-label {
    background-color: #f9cb9c;
    color: #000;
}

.image-overview-missing-caption .image-overview-label {
    background-color: #ead1dc;
    color: #000;
}

.toggle-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0b72b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #085a87;
}

.grid-select-container {
    margin-bottom: 10px;
    text-align: center;
}

.grid-select-container select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.image-view-container {
    text-align: center;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-grid img {
    max-width: 100px;
    margin: 5px;
}

.image-grid.grid-1 img {
    max-width: 100%;
}

.image-grid.grid-2 img {
    max-width: calc(50% - 10px);
}

.image-grid.grid-3 img {
    max-width: calc(33.333% - 10px);
}

.image-grid.grid-4 img {
    max-width: calc(25% - 10px);
}
